 *{
    margin: 0px;
    padding: 0px;
    } 
.main_header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 23px;
    margin-bottom: 40px;
    background-color: white;
  
}
.heading_1{
    font-size: 40px;

}
.box_1{
    border-radius: 8px;
        font-size: 25px;
        padding: 18px;
        background-color: #fff;
        font-family: sans-serif;
}
header{
    background-image: url(assets/Hero-bg.png);
    padding-bottom: 200px;
    
}
.font_position{
    text-align: center;
    align-items: center;

    }
.para_1{
    font-size: 53px;
    font-weight: 600;
    word-spacing: 7px;
}
.lorem_Ipsum{
    color: #757575;
    line-height: 1.6;
}
.button_color{
    background-color: #000;
    padding: 12px 14px;
    text-align: center;
    align-items: center;
    border-radius: 7px;
    font-size: 20px;
    color:white;
}
       /* css:design 2 */
 main{
    max-width: 1100px;
    margin: auto;
    padding-bottom: 70px;
 }      
.first_section{
    background-color: rgb(245, 247, 248);
    padding-bottom: 23px;
    

}
.design_2{
    text-align: center;
    padding-top: 80px;
}
.web_dev{
    font-size: 40px;
    color: black;
    font-weight: 700;
    text-align: center;
}
.lorem_Ipsum{
    color: #757575;
    line-height: 1.2;
    font-size: 23px;
    padding: 20px;
    text-align: center;
}
.sec_part{
    display: flex;
    justify-content: space-around;
    border-radius: 7px;
    box-shadow: right  rgb(245, 247, 248);
    padding: 40px;
    margin: 70px;
    
}
.topic_1{
    font-size: 23px;
   padding-bottom: 20px;
}
.box_learn{
    font-size: 20px;
    margin: auto;
    padding: 12px 14px;
    background-color: rgb(255, 253, 253)
}
.i_frame{
    border: 1px  solid #757575;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 15px 5px 14px 14px;
}  
.shadow_box{
    border-radius: 12px;
}      
         /* design 4 */
.icon_design{
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    margin-right: 30px;
    margin-bottom: 50px;
    border-radius: 12px;

} 
.html_icon{
    background-color: rgb(254, 236, 245);
    padding: 40px;
    border-radius: 12px;
    height: 250px;
    width: 325px;
    
}
.css_icon{
    background-color: rgb(244, 250, 254);
    padding: 40px;
    border-radius: 12px;
    height: 250px;
    width: 325px;
} 
.js_icon{
    background-color: rgb(252, 250, 251);
    padding: 40px;
    border-radius: 12px;
    height: 250px;
    width: 325px;
}      
            /* design 5 */
.border_1{
    display: flex;
    border: 1px solid #757575;
    padding: 40px;
    margin:23px;
    border-radius: 12px;
}  
.design{
    font-size: 20px;
    font-weight: 700;
}  
.lorem_Ip{
    font-size: 18px;
    color: #757575;
    word-spacing: 6px;
}   
        /* design 6      */
.last_pic{
    background-image: url(assets/handshake.jpg);
    width: 900px;
    text-align: center;
    padding: 100px;
    border-radius: 15px;
height: 100px;
}
.i_need{
    font-size: 30px;
    font-weight: 700;
    color:white;
}
.lorem_Ip_1{
    font-size: 18px;
    color: rgb(212, 210, 210);
    word-spacing: 6px;
}   
.data_entry{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.input_message{
    
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        float: right;
        width: 400px;
        text-align:left;
    }
.box_submit{
    font-size: medium;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    color: solid black;
    font-weight: 500;
    width: 100px;
    align-items: left 40px;
}

       /* Last Design */
footer{
    display: flex;
    background-color: rgb(246, 250, 254);
    justify-content: space-around;
    padding: 25px;
    align-items: center;
    text-align: center;
}
.last_text{
    font-size: 22px;
    padding: 20px;
    margin-right: 500px;
}
.last_icon{
    margin-right: 30px;
    text-align: center;
    
}